
# the .vagrant file should never be added to git
vagrant/.vagrant
# node_modules should never be added to git
handshakes/pwnagetty/node_modules

handshakes/pcap
handshakes/pmkid
handshakes/hccapx
handshakes/pwnagetty/bssids.json
handshakes/pwnagetty/package-lock.json

hashcat/hashcat-output.txt
hashcat/hashcat-potfile.txt
hashcat/scripts

ssh

network-cracked-status.json
generate-hashcat-scripts.py
get-files-from-pwnagotchi.bat
