# By default your ssh keys, pcap files, pmkid files
# hccapx files, and your cracked results would be added 
# to git unless you uncomment those here. This is
# probably not what you want to do unless you plan to
# use a VERY private repo.

# the .vagrant file should never be added to git
vagrant/.vagrant
# node_modules should never be added to git
handshakes/pwnagetty/node_modules

#handshakes/pcap
#handshakes/pmkid
#handshakes/hccapx
#handshakes/pwnagetty/bssids.json

#hashcat/hashcat-output.txt
#hashcat/hashcat-potfile.txt

#ssh

#network-cracked-status.json
